canvas {
    margin: 0 auto;
    background:transparent;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;

}

body {
    background-color: #000;
    text-align: center;
}

#background {
    z-index: -2;
}

.score, .distance, .actives {
    position: absolute;
    top: 5px;
    left:480px;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    cursor:default;
}

.game-over, .messages{
    position: absolute;
    top: 100px;
    left:0;
    right:0;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    cursor:default;
}


.game-over span, .messages span{
    font-size: 20px;
    position: relative;

}
.game-over span {
    cursor: pointer;
}


.game-over {
    z-index: 100;
    display: none;
    cursor: default;
}

.game-over span:hover, .messages {
    color: #FFD700;
}

.distance {
    top: 20px;
}
.actives {
    top:35px;
}

.fadeable {

    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 0;
}